* {
    margin: 0;
    padding: 0
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #e7e7e7;
}

h1 {
    font-size: 1em;
}

h2, p, a, li {
    font-size: .8em;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 70.3%; /* ~960 */
}

    .cabecalho {
        text-align: center;
    }

    .conteudo {
        border-radius: 10px;
        border: 2px solid black;
        margin-top: 1.0416%; /* 10 / 960(.container) */
        padding: 1.0416%;
    }

        .conteudo h2 {
            text-decoration: underline;
        }

        .conteudo ul {
            list-style-type: none;
        }

        .linha p {
            display: inline-block;
        }

        .linha p:first-child{
            width: 13.0208%; /* 125 / 960(.container) */
        }

@media all and (max-width: 640px){
    .linha p:first-child{
        width: 25%;
    }
}
